body {
  background-color: #EFF5F5;
}

hr {
  /*border-style: none none dotted;*/
  border-style: none;
  border-top-style: dotted;
  border-color: #D6E4E5;
  border-width: 5px;
  width: 3%;
}

h1, h3 {
  color: #66BFBF;
}
