/************************TAG SELECTORS*****************************/

h1 {
  color: red;
  font-size: 10px;
}

img {
  height: 100px;
  width:  100px;
}


/************************CLASS SELECTORS*****************************/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/************************ID SELECTORS*****************************/

#heading {
  color: teal;
}


/************************PSEUDO-CLASS SELECTORS*****************************/

.broccoli:hover {
  background-color: gold;
}
