<%- include("partials/header.ejs") %>

    <h1 class="rounded text-secondary">Work List</h1>

    <hr>

    <div class="items">
        <% workList.forEach(element => { %>
            <div class="item">
                <input type="checkbox">
                <p><%= element %></p>
            </div>    
        <% }); %>    
    </div>
   
    <form action="/submit-work" method="post">
        <input type="text" name="todo" placeholder="New Item">
        <input type="submit" value="New ToDo">
    </form>

<%- include("partials/footer.ejs") %>